@mixin bottom-content-template {
  display: flex;
  flex-direction: column;

  padding: 4.4rem 0;
  .comments {
    display: flex;
    align-self: center;
    font-size: 27px;
    margin: 1.2rem 0 1.9rem;
  }
  .reply {
    display: flex;
    align-self: center;
    font-size: 27px;
    margin: 1.2rem 0 1.9rem;
    font-weight: 900;
  }
  .login-comment {
    display: flex;
    img {
      border-radius: 100%;
      width: 9%;
      margin-top: 0.9rem;
      margin-right: 1.2rem;
    }
    span {
      font-size: 14px;
      a {
        color: #e91e63;
      }
    }
  }
}
