@mixin footer-template {
  display: flex;
  justify-content: space-between;
  background-color: #323437;
  padding: 1.9rem 0 1.1rem;
  color: rgb(227, 225, 225);
  .left-side {
    display: flex;
    margin-left: 13rem;
    font-size: 12px;
    a {
      color: rgb(227, 225, 225);
      padding: 0.9rem;
    }
  }
  .right-side {
    display: flex;
    margin-right: 13rem;
    font-size: 14px;
    a {
      color: rgb(227, 225, 225);
    }
  }
}
